ao_basis
  ao_num             integer
  ao_prim_num        integer       (ao_basis_ao_num)
  ao_nucl            integer       (ao_basis_ao_num)
  ao_power           integer       (ao_basis_ao_num,3)
  ao_prim_num_max    integer       = maxval(ao_basis_ao_prim_num)
  ao_coef            real          (ao_basis_ao_num,ao_basis_ao_prim_num_max)
  ao_expo            real          (ao_basis_ao_num,ao_basis_ao_prim_num_max)

mo_basis
  mo_num             integer
  mo_coef            real              (ao_basis_ao_num,mo_basis_mo_num)
  mo_coef_aux        real              (ao_basis_ao_num,mo_basis_mo_num)
  mo_classif         character         (mo_basis_mo_num)
  mo_energy          real              (mo_basis_mo_num)
  mo_occ             real              (mo_basis_mo_num)
  mo_symmetry        character*(8)     (mo_basis_mo_num)

bi_ortho_mos
  mo_l_coef          real              (ao_basis_ao_num,mo_basis_mo_num)
  use_lr             logical
  coef_psi_right     real
  coef_psi_left      real

electrons
  elec_alpha_num      integer
  elec_beta_num       integer
  elec_num            integer           = electrons_elec_alpha_num + electrons_elec_beta_num
  elec_walk_num_tot   integer
  elec_walk_num       integer
  elec_coord_pool     real             (electrons_elec_num+1,3,electrons_elec_coord_pool_size)
  elec_coord_pool_size integer
  elec_fitcusp_radius real

nuclei
  nucl_num            integer
  nucl_label          character*(32) (nuclei_nucl_num)
  nucl_charge         real           (nuclei_nucl_num)
  nucl_coord          real           (nuclei_nucl_num,3)

spindeterminants
  n_det_alpha     integer
  n_det_beta      integer
  n_det           integer
  n_int           integer
  bit_kind        integer
  n_states        integer
  psi_det_alpha   integer*8 (spindeterminants_n_int*spindeterminants_bit_kind/8,spindeterminants_n_det_alpha)
  psi_det_beta    integer*8 (spindeterminants_n_int*spindeterminants_bit_kind/8,spindeterminants_n_det_beta)
  psi_coef_matrix_rows    integer (spindeterminants_n_det)
  psi_coef_matrix_columns integer (spindeterminants_n_det)
  psi_coef_matrix_values  double precision (spindeterminants_n_det,spindeterminants_n_states)
  psi_left_coef_matrix_values double precision (spindeterminants_n_det,spindeterminants_n_states)
  n_svd_alpha                integer
  n_svd_beta                 integer
  n_svd_coefs                integer
  psi_svd_alpha              double precision (spindeterminants_n_det_alpha,spindeterminants_n_svd_alpha,spindeterminants_n_states)
  psi_svd_beta               double precision (spindeterminants_n_det_beta,spindeterminants_n_svd_beta,spindeterminants_n_states)
  psi_svd_coefs              double precision (spindeterminants_n_svd_coefs,spindeterminants_n_states)

dmc_dress
  la                         integer
  lb                         integer
  ld                         integer
  lla                        integer
  llb                        integer
  lld                        integer

simulation
  do_run              integer
  stop_time           integer
  precision           integer
  equilibration       logical
  http_server         character*(128)
  do_jast             logical
  nucl_fitcusp_factor real
  method              character*(32)
  block_time          integer
  sampling            character*(32)
  save_data           logical
  time_step           real
  print_level         integer
  ci_threshold        double precision
  md5_key             character*(32)
  E_ref               double precision
  E_trial             double precision
  srmc_projection_time real
  use_trexio          logical
  use_qmckl           logical

ao_two_e_erf_ints
  mu_erf         real

tc_keywords
  j1b_type            integer
  j1b_pen             real                (nuclei_nucl_num)
  j1b_pen_coef        real                (nuclei_nucl_num)
  j1b_coeff           real                (nuclei_nucl_num)
  mu_r_ct             real

jastrow
  jast_type           character*(32)
  jpsi_type           character*(32)
  inv_sgn_jast        logical
  jast_a_up_up        real
  jast_a_up_dn        real
  jast_b_up_up        real
  jast_b_up_dn        real
  jast_pen            real                (nuclei_nucl_num)
  jast_eeN_e_a        real                (nuclei_nucl_num)
  jast_eeN_e_b        real                (nuclei_nucl_num)
  jast_eeN_N          real                (nuclei_nucl_num)
  jast_core_a1        real                (nuclei_nucl_num)
  jast_core_a2        real                (nuclei_nucl_num)
  jast_core_b1        real                (nuclei_nucl_num)
  jast_core_b2        real                (nuclei_nucl_num)
  jast_qmckl_type_nucl_num integer
  jast_qmckl_type_nucl_vector integer     (nuclei_nucl_num)
  jast_qmckl_rescale_ee double precision
  jast_qmckl_rescale_en double precision (jastrow_jast_qmckl_type_nucl_num)
  jast_qmckl_aord_num   integer
  jast_qmckl_bord_num   integer
  jast_qmckl_cord_num   integer
  jast_qmckl_a_vector   double precision (jastrow_jast_qmckl_type_nucl_num*jastrow_jast_qmckl_aord_num+jastrow_jast_qmckl_type_nucl_num)
  jast_qmckl_b_vector   double precision (jastrow_jast_qmckl_bord_num+1)
  jast_qmckl_c_vector_size integer
  jast_qmckl_c_vector   double precision (jastrow_jast_qmckl_c_vector_size)


blocks
  empty   integer

pseudo
  ao_pseudo_grid   double precision   (ao_basis_ao_num,pseudo_pseudo_lmax+pseudo_pseudo_lmax+1,pseudo_pseudo_lmax-0+1,nuclei_nucl_num,pseudo_pseudo_grid_size)
  do_pseudo        logical
  mo_pseudo_grid   double precision   (ao_basis_ao_num,pseudo_pseudo_lmax+pseudo_pseudo_lmax+1,pseudo_pseudo_lmax-0+1,nuclei_nucl_num,pseudo_pseudo_grid_size)
  pseudo_dz_k      double precision   (nuclei_nucl_num,pseudo_pseudo_klocmax)
  pseudo_dz_kl     double precision   (nuclei_nucl_num,pseudo_pseudo_kmax,pseudo_pseudo_lmax+1)
  pseudo_grid_rmax double precision
  pseudo_grid_size integer
  pseudo_klocmax   integer
  pseudo_kmax      integer
  pseudo_lmax      integer
  pseudo_n_k       integer            (nuclei_nucl_num,pseudo_pseudo_klocmax)
  pseudo_n_kl      integer            (nuclei_nucl_num,pseudo_pseudo_kmax,pseudo_pseudo_lmax+1)
  pseudo_v_k       double precision   (nuclei_nucl_num,pseudo_pseudo_klocmax)
  pseudo_v_kl      double precision   (nuclei_nucl_num,pseudo_pseudo_kmax,pseudo_pseudo_lmax+1)

trexio
  trexio_file     character*(128)
