config/*
Makefile.in
aclocal.m4
autom4te.cache/*
config.log
configure
include/config.h.in
Makefile
config.status
ezfio_config/properties.config
include/config.h
include/stamp-h1
qmcchemrc
scripts/properties.py
src/IRPF90_man/
src/IRPF90_temp/
src/*.mod
src/__pycache__/
src/irpf90.make
src/irpf90_entities
src/tags
src/properties.pyc
